In [ ]:
# To print largest
a,b,c=map(int,input("Entre 3 ages sperated by spaces:").split())
if a>b and a>c:
  print("a is largest")
elif b>c:
  print("b is largest")
else:
  print("c is largest")

Entre 3 ages sperated by spaces:30 20 10
a is largest

In [ ]:
# Celius to farenheit
c=float(input("Entre value in degree c "))

f=c*(9/5) + 32

print(f)

Entre value in degree c25.3
77.53999999999999

In [ ]:
# User will input (2numbers).Write a program to swap the numbers
a,b=map(float,input("Entre numbers to swap: ").split())
# x=0
# if a!=0 and b!=0:
#   x=a
#   a=b
#   b=x

a,b=b,a
print(a)
print(b)

Entre numbers to swap: 10 20
20.0
10.0

In [ ]:
#sum of 3 digits
a,b,c=map(int,input("Entre 3 ages sperated by spaces:").split())

d=a+b+c
d

Entre 3 ages sperated by spaces:10 20 30

60

In [ ]:
#reverse a four digit number

a = int(input("Enter a 4-digit number: "))
num_rev=''
str_a=str(a)
i=0
for _ in range(4):
  i+=1
  num_rev+=str_a[-i]

num_rev=int(num_rev)
print(num_rev)
type(num_rev)

Enter a 4-digit number: 1332
2331

int

In [ ]:
import numpy as np
a,b=map(int,input("Entre two coordinates: ").split())

dist=np.sqrt(a**2 + b**2)

print(dist)

Entre two coordinates: 3 4
5.0

In [ ]:
a,b,c=map(float,input("Entre angles in degrees: ").split())

if (a+b+c)!=180:
  print("Not ok")
  if a+b>c and a+b+c>180:
    print("Not possible")
  else:
    print("OK")

Entre angles in degrees: 25 35 75
Not ok
OK

In [ ]:
a=int(input("Entre no of dogs: "))
b=int(input("Entre no of chimkens: "))

leg_dogs=a*4
leg_chimken=b*2

total_heads=a+b
total_legs= leg_dogs+leg_chimken
print(total_legs, total_heads)

Entre no of dogs: 4
Entre no of chimkens: 3
22 7

In [ ]:
a=int(input())
sum=0
for i in range(1,a+1):
  sum+=i

print(sum)

10
55

In [ ]:

a=int(input())
b=int(input())
mul=0
for i in range(1,b+1):
  mul+=a
  print(a,"*",i,"=",mul)

mul

4
10
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

40

In [ ]:
import calendar

yy=int(input("Year"))
n=12
for i in range(1,n+1):
  mm=i
  print(calendar.month(yy,mm))

Year1
     January 1
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

     February 1
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28

      March 1
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

      April 1
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

       May 1
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

       June 1
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

       July 1
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

      August 1
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

    September 1
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

     October 1
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

     November 1
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

     December 1
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [ ]:
#first number of factorial:


def firstfactorial(num):
  fact=1
  for i in range(1,num+1):
    fact=fact*i
  return fact

num=int(input("Entre number for fact: "))
firstfactorial(num)

Entre number for fact: 8

40320

In [ ]:
def is_surrounded_by_plus_or_equal(input_str):
    for i in range(1, len(input_str) - 1):
        if (input_str[i - 1] == '+' or input_str[i - 1] == '=') and (input_str[i + 1] == '+' or input_str[i + 1] == '='):
            if input_str[i].isalpha():
                return True
    return False

# Get input from the user
user_input = input("Enter a string: ")

# Check and print the result
result = is_surrounded_by_plus_or_equal(user_input)
print(result)

Enter a string: +5+=d=+n
True

In [ ]:
def is_surrounded_by_plus_equals(input_str):
    for i in range(len(input_str)):
        if input_str[i].isalpha():
            if i > 0 and i < len(input_str) - 1:
                if (input_str[i-1] not in ['+', '=']) or (input_str[i+1] not in ['+', '=']):
                    return False
    return True

# Take user input
user_input = input("Enter a string: ")

# Check if alphabetic characters are surrounded by '+' or '='
result = is_surrounded_by_plus_equals(user_input)

# Print the result
print(result)

Enter a string: +5+=d++n+
True

In [ ]:
def string(input_str):
    char = []
    for i in range(len(input_str)):
        if i > 0 and i < len(input_str) - 1:
            if (input_str[i-1] == '+' or input_str[i-1] == '=') and (input_str[i+1] == '+' or input_str[i+1] == '='):
                char.append(input_str[i])
    return char

# Example usage:
input_str = "+5+=d=+n+"
result = string(input_str)
print(result)

['5', 'd', 'n']

In [ ]:
array=[10,62,12,15,17,15]

largest=0
sum=0
for i in array:
  if i>largest:
    largest=i
index_of_largest = array.index(max(array))
array.pop(index_of_largest)
for k in array:
  sum+=k

if sum>largest:
  print(True)
else:
  print(False)

True

In [ ]:
def generate_pascals_triangle(num_rows):
    triangle = []
    for i in range(num_rows):
        row = [1] * (i + 1)
        for j in range(1, i):
            row[j] = triangle[i - 1][j - 1] + triangle[i - 1][j]
        triangle.append(row)
    return triangle

def print_pascals_triangle(triangle):
    for row in triangle:
        print(' '.join(map(str, row)).center(len(triangle[-1])*3))

# Example usage:
num_rows = 9
pascals_triangle = generate_pascals_triangle(num_rows)
print_pascals_triangle(pascals_triangle)

             1
            1 1
           1 2 1
          1 3 3 1
         1 4 6 4 1
       1 5 10 10 5 1
      1 6 15 20 15 6 1
    1 7 21 35 35 21 7 1
   1 8 28 56 70 56 28 8 1

In [ ]:
# find least positive missing number.
my_list = [4,1,2,5, 7, 6, 3]

sorted_list = sorted(my_list)

for i in range(len(sorted_list) - 1):
    if sorted_list[i] + 1 != sorted_list[i + 1]:
        print("Missing value is:", sorted_list[i] + 1)
        break

Missing value is: 2

In [ ]:
lis=[1,4,6,3,9,13]
count=1
for i in lis:
    if count not in lis:
      print(count)
    count+=1

2
5

In [ ]:
def longest(string):
    words = string.split()
    longest_word = max(words, key=len)

    print("Longest word is:", longest_word)
    print("Length of the longest word is:", len(longest_word))

string = "Tiger Analytics Coding Questions"
longest(string)

Longest word is: Analytics
Length of the longest word is: 9

In [ ]:
arr1=[5,1,3,-5]
arr2=[8,3,-7,2]

i=0
j=len(arr2)
arr=[]
for k in range(1,len(arr1)+1):
  arr3=arr1[i]*arr2[j-1]
  i+=1
  j-=1
  arr.append(arr3)
sum=sum(arr)
print(sum)-

TypeError: ignored

In [ ]:
def subArraySum(arr, n, s):
    i = 0
    j = 0
    current_sum = arr[0]

    while j < n:
        if current_sum == s:
            return i, j

        if current_sum < s:
            j += 1
            if j < n:
                current_sum += arr[j]
        else:
            current_sum -= arr[i]
            i += 1

    return -1, -1  # Return -1, -1 if no subarray is found

# Example usage:
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9]
n = len(arr)
s = 7
result = subArraySum(arr, n, s)

if result[0] == -1:
    print("No subarray found with the given sum.")
else:
    print("Subarray with sum", s, "found at indices:", result)

Subarray with sum 7 found at indices: (2, 3)

In [ ]:
def countTriplet(arr, n):
    arr = sorted(arr)
    count = 0

    for i in range(n - 2):
        for j in range(i + 1, n):
            s = arr[i] + arr[j]
            if s in arr[j + 1:]:
                count += 1

    return count

Number of triplets: 0

In [ ]:
def merge_arrays(arr1, arr2):
    arr1 = sorted(arr1)
    arr2 = sorted(arr2)
    arr = []
    j = 0
    i = 0

    while i < len(arr1) and j < len(arr2):
        if arr1[i] < arr2[j]:  # Corrected the condition
            arr.append(arr1[i])
            i += 1
        else:
            arr.append(arr2[j])
            j += 1

    # Append the remaining elements from arr1 (if any)
    while i < len(arr1):
        arr.append(arr1[i])
        i += 1

    # Append the remaining elements from arr2 (if any)
    while j < len(arr2):
        arr.append(arr2[j])
        j += 1

    return arr

# Example usage:
arr1 = [1, 3, 5, 7]
arr2 = [0, 2, 6, 8, 9]
result = merge_arrays(arr1, arr2)
print(result)

[0, 1, 2, 3, 5, 6, 7, 8, 9]

In [ ]:
def matchingStrings(strings, queries):
    # Write your code here
    count=0
    res=[]
    for s in queries:
        for k in strings:
            if s==k:
                count+=1
        res.append(count)
        count=0
    return res

strings=['ab','ab','abc']
queries=['ab','abc','bc']

matchingStrings(strings,queries)

[2, 1, 0]

In [ ]:
def print_staircase(n):
    for i in range(1, n + 1):
        spaces = " " * (n - i)
        hashes = "#" * i
        print(spaces + hashes)

# Example usage:
print_staircase(5)

    #
   ##
  ###
 ####
#####

In [ ]:
arr = [1, 3, 5, 7, 9]

a=max(arr)
b=min(arr)
arr.remove(a)
sum(arr)

16

In [ ]:
def miniMaxSum(arr):
    # Write your code here
    arr=sorted(arr)
    res=[]

    for i in range(len(arr)):
        s=sum(arr)-arr[i]
        res.append(s)
    return[min(res),max(res)]

arr = [1, 2,3,4,5]
miniMaxSum(arr)

14

[10, 14]

In [ ]:
arr=[2,3,6,6,5]
unique=[]

2

In [ ]:
for num in arr:
  if num not in unique:
    unique.append(num)
print(sorted(unique))

[2, 3, 5, 6]

In [4]:
left=[]
right=[]
nums=[9,12,5,10,14,3,10]
pivot=10
for num in nums:
  if num<pivot:
    left.append(num)
  else:
    right.append(num)
left.sort(key=lambda x:nums.index(x))
right.sort()
print(left+right)

[9, 5, 3, 12, 10, 14, 10]