# Q1

In [ ]:
# Get the area of triangle:
a=float(input(""))
b=3**0.5

area=(b*a*a)/4
area=round(area,2)
print(area)

15
97.43

# Q2

In [ ]:
## Degree to farenheigt
#Getting input via STDIN
userInput = float(input())

a=9/5
faren=(userInput*a)+32
faren=round(faren,2)
print(faren)

32
89.6

# Q3

In [ ]:
A=float(input())
B=float(input())
C=A+B
C=round(C,1)
print(C)

5
6
11.0

# Q4

In [ ]:
# multiples
N=input()
a=int(N)*2
b=int(N)*3

print(N,a,b)

7
7 14 21

# Q5

In [ ]:
# Nth squre no:
N=int(input())
if(N<0):
    print("Error")
elif(N==0):
    print(0)
else:
    print(N**2)

-5
Error

# Q6

In [ ]:
# factorial
N=int(input())
for i in range (1,N):
    N=N*i
    i=i-1
print(N)

7
5040

# Q7

In [ ]:
#Smallest no:
numbers = input().split()
num1 = int(numbers[0])
num2 = int(numbers[1])

# Compare and print the smaller number
if num1 < num2:
    print(num1)
else:
    print(num2)

23 11
11

# Q8

In [ ]:
# Odd even:

N=float(input())
N=round(N)

if(N==0):
    print("Zero")
elif(N%2==0):
    print("Even")
else:
    print("Odd")

8
Even

# Q9

In [ ]:
A=int(input())
B=int(input())
C=A*B
print(C)

2
3
6

# Q10

In [ ]:
A=int(input())
B=int(input())
C=int(input())

if A>B and A>C:
    print(A)
elif B>A and B>C:
    print(B)
else:
    print(C)

-11
0
5
5

# Q11

In [ ]:
# Quadratic
coeff=input()
coeff=coeff.split()
A,B,C=map(float,coeff)

q=((B**2)-(4*A*C))**0.5

r1=((-B)+q)/2*A
r2=((-B)-q)/2*A

r1=round(r1,2)
r2=round(r2,2)

print(r1)
print(r2)


## another way
# Quadratic
coeff=input()
coeff=coeff.split()
A,B,C=map(float,coeff)

q=((B**2)-(4*A*C))**0.5

r1=((-B)+q)/(2*A)
r2=((-B)-q)/(2*A)

print(f"{r1:.2f}")
print(f"{r2:.2f}")

3 2 -1
3.0
-9.0

# Q12

In [ ]:
value=input()
value=value.split()
P,T,R =map(float,value)

si=(P*T*R)/100
    
print(f"{si:.2f}")

1000 2 5
100.00

# Q13

In [ ]:
N=int(input())
if (N==0):
    print("NULL")

for i in range(1,N+1):
    t=9*i
    print(t,end=" ")

10
9 18 27 36 45 54 63 72 81 90

# Q14

In [ ]:
N=int(input())
if(N>12 or N==0):
    print("Error")
elif(N==2):
    print(28)
elif(N%2==0):
    print(30)
else:
    print(31)

0
Error

# Q15

In [ ]:
A=input()
A=A.replace(" ","")
print(len(A))

Lorem Ipsum
10

# Q16

In [ ]:
N=int(input())
for i in range(1,6):
    print(N)

5
5
5
5
5
5

# Q17

In [ ]:

N=int(input())
sum=0;
for i in range(1,N+1):
  sum +=i
  print(sum)

print(sum)

10
1
3
6
10
15
21
28
36
45
55
55

# Q18

In [ ]:
N=int(input())

for i in range(1,N+1):
    print(i)

# Q 19

In [ ]:
A=float(input())

if(A<0):
    print("Error")
else:
    c=(2*3.14*A)
    print(f"{c:.2f}")

-5
Error

# Q20

In [ ]:
number= input()
sum_of_digits = 0

for digit_char in str(number):
    digit = int(digit_char)
    sum_of_digits += digit

print(sum_of_digits)

215
8

# Q21

In [ ]:
# Get input
A = int(input())
B = int(input())
C = int(input())

# Print output
print(A, B, C, sep=" ")

10
2
3
10 2 3

In [ ]:
A=input()

B=" ".join(A)
print(B)

GUVi
G U V i

In [ ]:
"""
# Get input
A = (input())
B = (input())
C = (input())

# Print output
print(float(A))
print(B)
print(C)
"""
# Get input
input_line = input()

# Split the input into a list of float values
float_values = input_line.split()

# Print output
for value in float_values:
    print(value)

2.5 3.5 85.2
2.5
3.5
85.2

In [ ]:
A=input()

for char in A:
    print(char)

input

In [19]:
A=input()

B=",".join(A)
print(B)

input
i,n,p,u,t

In [7]:
N=int(input())

while(N>0):
  print(N)
  N=N-1

10
10
9
8
7
6
5
4
3
2
1

In [11]:
A = int(input())

if A % 4 == 0 and (A % 400 == 0 or A % 100 != 0):
    print("Y")
else:
    print("N")

2020
Y

In [12]:
N=int(input())

for i in range(1,N+1):
    if (i % 2 == 0):
        print(i)

10
2
4
6
8
10

In [13]:
num=input()

num=num.split()

A,N=map(int,num)

for i in range (1,N+1):
    print(A)

2 3
2
2
2

In [15]:
N=int(input())

num=input()
num=num.split()
L,R=map(int,num)

if(N>L and N<R):
    print("Yes")
    
else:
    print("no")

10
10 11
no

In [23]:
N=input()
N=N.split()
B,H=map(float,N)

if (B>= 1000000 and H>= 1000000):
    print("Error")
else:
    A=0.5*B*H
    print(A)

2 5
5.0